<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>License Manager Application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="jumbotron-text-center">
            <center>
            <h1>License Manager Application</h1>
            <p><i>Application by Joanna Wypych, 2017</i></p>
            </center>
        </div>
        <center>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><a th:href="@{/home}">Home</a> </button>
                <button type="button" class="btn btn-default"><a th:href="@{/company}">Company</a> </button>
                <button type="button" class="btn btn-default"><a th:href="@{/ownedproducts}">Owned Products</a> </button>
                <button type="button" class="btn btn-default"><a th:href="@{/avalibleProducts}">Other Products</a></button>
            </div>
        </center>
        <center>
        <div th:if="${param.changesapplied}">
            <div class="alert alert-success">
            <p style="color: darkred"><b>Your changes have been saved and applied!</b></p>
            </div>
        </div>
        </center>
        <h2>Usefull informations</h2>
        <div class="well">
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
            Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.
            Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
            Aliquam erat ac ipsum. Integer aliquam purus.Quisque lorem tortor fringilla sed, vestibulum id,
            eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis,
            varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing.
        </div>
        <div class="well">
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
            Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim.
            Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna.
            Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.
            Aliquam erat ac ipsum. Integer aliquam purus.Quisque lorem tortor fringilla sed, vestibulum id,
            eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis,
            varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing.
        </div>
    </div>
    <div class="footer">
        <center>
        <form th:action="@{/logout}" method="post">
            <h4 th:inline="text">Logged as: [[${#httpServletRequest.remoteUser}]]
            <input type="submit" class="btn btn-default" value="Sign Out"/>
            </h4>
        </form>
        </center>
    </div>
    </body>
</html>